# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/dependencies/
/third_party/SDL2-2.0.7
/build_darwin_x86_64_appleclang
/build_linux_x86_64
/build_linux_x86_64_gnu
/build_linux_x86_64_clang
/build_windows_amd64
/build_windows_amd64_msvc
/FbxSdk
.vscode/*.bat
assets/images/*
.DS_Store
assets/shaders/.spv/*
assets/shaders/.msl/*
