[submodule "third_party/DirectXMath"]
	path = third_party/DirectXMath
	url = git@github.com:VladSerhiienko/DirectXMath.git
[submodule "third_party/cxxopts"]
	path = third_party/cxxopts
	url = git@github.com:jarro2783/cxxopts.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "third_party/nuklear"]
	path = third_party/nuklear
	url = git@github.com:vurtun/nuklear.git
[submodule "third_party/flatbuffers"]
	path = third_party/flatbuffers
	url = git@github.com:google/flatbuffers.git
[submodule "third_party/EASTL"]
	path = third_party/EASTL
	url = git@github.com:electronicarts/EASTL.git
[submodule "third_party/FbxPipeline"]
	path = third_party/FbxPipeline
	url = git@github.com:VladSerhiienko/FbxPipeline.git
